@font-face {
    font-family: scorefont;
    src: url(CursedTimerUlil-Aznm.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: scorefont, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score-number {
    display: inline-block;
    color: #F94F6D;
    font-size: 90px;
    background-color: black;
    padding: 20px 30px;
    border-radius: 5px;
}

h3 {
    color: white;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

.container {
    display: flex;
    justify-content: space-around;
    max-width: 95%;
    margin: auto;
    background-color: #1B244A;
}

.score_btnRow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 26px 0 50px 0;
}

.score_btn {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 1px solid #9aabd8;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: .3s;
}

.score_btn:hover {
    background-color: #9aabd8;
    color: #1B244A;
}

.reset {
    align-self: center;
}

#reset-btn {
    cursor: pointer;
    padding:5px;
    box-shadow: 1px 2px #38416a;
}

#reset-btn:active {
    transform: translate(.3px, 1px)
}

.game-timer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#countdown {
    font-size: 2rem;
}

#start-game {
    padding: 10px 20px;
}

@media (max-width:500px) {
    h1 {
        display: inline-block;
        padding: 2px 5px;
    }

    h3 {
        font-size: 1.9rem;
    }

    .score_btn {
        height: 30px;
        width: 30px;
        font-size: .9rem;
    }
}

@media (orientation: landscape) and (max-width: 800px){
    body {
        flex-direction: row;
    }

    .container {
        max-height: 250px;
    }

    .header-text {
        font-size: .9rem;
    }

    .score_btn {
        color: black;
    }
    
    #start-game {
        padding: 5px 10px;
    }
}